/////////////////////////////////////////////////////////////
//--(HOME)------------------------------------------------//
///////////////////////////////////////////////////////////

// CARD CONTAINER
.cardContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  height: calc(100vh - 6rem);

  padding: 3rem;

  &__presentation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}