/////////////////////////////////////////////////////////////
//--(HOME)------------------------------------------------//
///////////////////////////////////////////////////////////

// CARD CONTAINER
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 3rem;
  background-color: #323232;
}