// CARDS
/////////////////////////////////////////////////////////////
//--(CARD)------------------------------------------------//
///////////////////////////////////////////////////////////
.card {
  color: #ffac41;
  border: 1px solid #ffac41;
  margin: 1rem;
  padding: 1rem;

  &__title {
    margin-bottom: 1.5rem;
  }

  p {
    margin-bottom: .3rem;
  }
}
